<h4 class="nav">
    <a ui-sref="index" ui-sref-active="label-warning" class="label label-default">Home</a>
    <a ui-sref="req-ui-router({pageId: 1})" ui-sref-active="label-warning" class="label label-default">UI Router
        Requirements - Page 1</a>
    <a ui-sref="req-ui-router({pageId: 2})" ui-sref-active="label-warning" class="label label-default">UI Router
        Requirements - Page 2</a>
    <a ui-sref="req-ui-router({pageId: 3})" ui-sref-active="label-warning" class="label label-default">UI Router
        Requirements - Page 3</a>
    <a ui-sref="req-sort-filter" ui-sref-active="label-warning" class="label label-default">Sort and Filter Array
        Requirement</a>
    <a ui-sref="req-directive" ui-sref-active="label-warning" class="label label-default">Directive Requirements</a>
    <a ui-sref="req-sum" ui-sref-active="label-warning" class="label label-default">Sum Requirement</a>
    <a ui-sref="req-cursor-jump" ui-sref-active="label-warning" class="label label-default">Cursor Jump Requirement</a>
</h4>