<div class="req-directive">
    <h1>Directive Requirements</h1>

    <form class="form form-horizontal">
        <div class="form-group">
            <label for="phone-input" class="col-sm-2">Phone</label>
            <div class="col-sm-4">
                <input id="phone-input" type="text" class="form-control" ng-model="phone"
                       placeholder="Enter phone number" phone>
            </div>
        </div>
        <div class="form-group">
            <label for="currency-input" class="col-sm-2">Currency</label>
            <div class="col-sm-4">
                <input id="currency-input" type="text" class="form-control" ng-model="amount"
                       placeholder="Enter amount" currency>
            </div>
        </div>
    </form>
</div>